[alias]
  co = checkout
  br = branch --sort=committerdate
  ci = commit
  st = status
[core]
  editor = vim
  pager = less -F -X
[credential]
  helper = cache --timeout=3600
[pull]
  ff = only
[user]
  # name = Full Name
  # email = email@address.com
  # signingkey = 0000000000000000000000000000000000000000
[merge]
  # tool = meld
[http]
  # proxy = http://aa.bb.cc:8080
[commit]
  # gpgsign = true
[init]
  defaultBranch = main
[user]
  name = jbock
  email = jbock-java@gmx.de
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
